body {
  background-color: rgb(215, 222, 255);
}

h1 {
  font-style: italic;
  text-align: center;
}

.pbr {
  border-radius: 5%;
}

.cc {
  border: none;
  background-color: rgb(215, 222, 255);
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: bold;
  transition: color 300ms ease;
}

.cc:hover {
  background-color: grey;
  color: white;
}

.idt {
  font-style: italic;
  font-size: 30px;
}

.felsc {
  font-style: italic;
  margin-top: 40px;
}

.fels {
  font-size: 20px;
  font-style: italic;
  margin-top: 10px;
}

.fsm {
  margin: 20px;
}

.tm {
  margin: 40px;
}

hr {
  opacity: 10%;
}

.tac {
  text-align: center;
}

.tp12 {
  border-radius: 5%;
  display: block;
  margin: auto;
  width: 250px;
}

.tp35 {
  border-radius: 5%;
  display: block;
  margin: auto;
  width: 300px;
}

.tp4 {
  border-radius: 5%;
  display: block;
  margin: auto;
  width: 200px;
}

.tp6 {
  border-radius: 5%;
  display: block;
  margin: auto;
  width: 400px;
}
