body{
    background-color:rgb(215, 222, 255) ;
}

h1{ 
    font-style: italic;
    text-align: center;
}

.pfp{
    border-radius: 5%;
    display: block;
    margin: auto;  
}

.cc{
    border: none;
    background: grey;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
}

.mmm{
    margin-left: 20px;
    margin-right: 20px;
}

.idt{
    font-style: italic;
    font-size: 30px;
}

.fels{
    font-size: 20px;
    font-style: italic;
}

.tx{
    font-size: 30px;
}

.tx2{
    font-size: 20px;
}

.doki{
    border-radius: 5%;
    display: block;
    margin: auto; 
}

footer{
    text-align: center;
    padding: 3px;
    background-color: white;
}

.csalad{
    border-radius: 2%;
    display: block;
    margin: auto; 
}

.szb{
    border-radius: 2%;
    display: block;
    margin: auto;  
}

hr{
    opacity: 5%;
}

.tp{
    border-radius: 5%;
    display: block;
    margin: auto; 
    width: 300px;
}
