body{
    background-color:rgb(215, 222, 255) ;
}

h1{ 
    font-style: italic;
    text-align: center;
}

.pbr{
    border-radius: 5%;
}

.cc{
    border: none;
    background: grey;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
}

.idt{
    font-style: italic;
    font-size: 30px;
}

.felsc{
    font-style: italic;
    margin-top: 40px;
}

.fels{
    font-size: 20px;
    font-style: italic;
    margin-top: 10px;
}

.fsm{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.tm{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

hr{
    opacity: 10%;
}

.tp12{
    border-radius: 5%;
    display: block;
    margin: auto; 
    width: 250px;
}

.tp35{
    border-radius: 5%;
    display: block;
    margin: auto; 
    width: 300px;
}

.tp4{
    border-radius: 5%;
    display: block;
    margin: auto; 
    width: 200px;
}

.tp6{
    border-radius: 5%;
    display: block;
    margin: auto; 
    width: 400px;
}

footer{
    text-align: center;
    padding: 3px;
    background-color: white;
}